 <!-- header top begin -->
<div ng-include="'views/_header.html'">
</div>
<!-- header top end -->
<style>
    .header-section {
        display: block !important;
    }

    .logo-section {
        display: block !important;
    }

    .bodynew {
        background: #fff;
    }
</style>
<div class="page-wrapper bg-gra-01 p-t-100  font-poppins" style="background:#000000 !important;">
    <div class="wrapper wrapper--w960">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Forgot Password</h2>
                <form role="form" id="forgotpasswordform" name="forgotpasswordform" novalidate>
                    <div class="input-group">
                        <input type="email" class="input--style-3" ng-model="emailid" name="emailid" autocomplete="off" maxlength="200" placeholder="Email id" required>
                        <span class="error-message" ng-show="forgotpasswordform.emailid.$dirty && forgotpasswordform.emailid.$invalid">Please enter email-id.</span>

                    </div>
                    <div class="p-t-10">
                        <input class="btn btn--pill btn--green" ng-disabled="forgotpasswordform.$invalid" type="button" ng-click="ForgotPassword()" value="Submit" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Icons font CSS-->
<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="css/main.css" rel="stylesheet" media="all">