<div ng-include="'views/_header.html'">
</div>
<section id="layout-content" class="container">
    <div class="flash-message">
    </div>
    <div class="container1 auth-page">
        <div class="row no-gutters">
            <div class="col-xl-8 col-lg-7 left-column d-flex align-items-center">
                <div class="content">
                    <h2 class="page-heading">
                        Crafted for the love of the game
                    </h2>
                    <p>
                        Whispering Shouts is a tunnel to the poker games, with a
                        motto to make every player a winner irrespective of how
                        their game goes.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 right-column d-flex align-items-center" id="divSuccess" style="display:none;">
                <div class="card-body">
                    <h2 class="title">Thank you</h2>
                    <p>Your email has been successfully verified</p>
                </div>
            </div>
        </div>
    </div>

</section>