<!--<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1393744880722096&autoLogAppEvents=1"></script>

<div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>-->


<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<script>

    // Load the SDK Asynchronously

    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    // Init the SDK upon load

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1393744880722096', // App ID
            channelUrl: '//' + window.location.hostname + '/channel', // Path to your Channel File
            scope: 'id,name,email,picture', // This to get the user details back
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // listen for and handle auth.statusChange events

        FB.Event.subscribe('auth.statusChange', function (response) {
            debugger;
            if (response.authResponse) {
                // user has auth'd your app and is logged into Facebook
                FB.api('/me?fields=id,name,email,picture', function (me) {
                    if (me.name) {
                        document.getElementById('auth-displayname').innerHTML = me.name;

                        //document.getElementById('displayname').innerHTML = me.name;
                        document.getElementById('FBId').innerHTML = me.id;
                        document.getElementById('DisplayEmail').innerHTML = me.email;
                        document.getElementById('ProfilePic').src = me.picture.data.url;
                       // document.getElementById('Gender').innerHTML = me.gender;
                        //document.getElementById('DOB').innerHTML = me.birthday;

                    }
                })

                document.getElementById('auth-loggedout').style.display = 'none';
                document.getElementById('auth-loggedin').style.display = 'block';

            } else {

                // user has not auth'd your app, or is not logged into Facebook

                document.getElementById('auth-loggedout').style.display = 'block';
                document.getElementById('auth-loggedin').style.display = 'none';

            }

        });

        $("#auth-logoutlink").click(function () { FB.logout(function () { window.location.reload(); }); });

    }

</script>



<h1>

    Login from Facebook
</h1>

<div id="auth-status">

    <div id="auth-loggedout">
        <div class="fb-login-button" autologoutlink="true" scope="email">Login with Facebook</div>
    </div>

    <div id="auth-loggedin" style="display: none">

        Hi, <span id="auth-displayname"></span>(<a href="#" id="auth-logoutlink">logout</a>)


        <br />
        Your Facebook ID : <span id="FBId"></span><br />
        Your Email : <span id="DisplayEmail"></span><br />
        Profile Pic : <img src="" id="ProfilePic" />
        <!--Your Sex:, <span id="Gender"></span><br />
    Your Date of Birth :, <span id="DOB"></span><br />-->


    </div>




</div>