 <!-- header top begin -->
<div ng-include="'views/_header.html'">
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/assets/css/refer.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script type="text/javascript">
    function openModal() {
        $("#myModal").modal('show');
    }
</script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1393744880722096', status: true, cookie: true,
            xfbml: true
        });
    };
    (function () {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>

<script type="text/javascript">
    function shareFB(name, picture, caption, description, message) {
        FB.ui(
            {
                method: 'feed',
                name: name,
                link: 'https://whisperingshouts.com/facebookshare.html'
            });
    }
</script>
<script>
    function Share(name, picture, caption, description, message) {

        openWindow('https://www.facebook.com/dialog/feed?app_id=1393744880722096&link=https://whisperingshouts.com/?ref=facebook&picture=' + picture + '&name=' + name + '&caption=' + caption + '&description=' + description + '&redirect_uri=&display=popup');
    }

    function openWindow(URL) {
        window.open(URL,
            'feedDialog',
            'toolbar=0,status=0,width=626,height=436'
        );
    }
</script>
<script>
    //document.getElementById('shareBtn').onclick = function () {
    //    FB.ui({
    //        display: 'popup',
    //        method: 'share',
    //        href: 'https://whisperingshouts.com/facebookshare.aspx?title=' + name + ', &image=' + picture + '&caption=' + caption + '&description=' + description + ' &message' + message + ''
    //    }, function (response) { });
    //}
    function openFacebook(name, picture, caption, description, message) {
        FB.ui({
            display: 'popup',
            method: 'share',
            href: 'https://whisperingshouts.com/facebookshare.html'
        }, function (response) { });
    }
</script>
<style>
    .refer-a-friend-copy {
        color: {{portalColor}};
    }
</style>
<section id="layout-content" class="container ng-scope">
    <div class="flash-message">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2" ng-include="'views/_sideMenu.html'">
            </div>
            <div class="col-md-6">
                <div class="detail-container content card--shadow" style="background:url(/assets/images/refer-a-friend-bg.png); height:93vh; background-position:center; background-repeat: no-repeat;text-align: center;">
                    <!--  <div class="refer-a-friend text-uppercase color-primary">
          <span>REFER A<br>FRIEND</span>
      </div>
      <div class="refer-a-friend-rakeback color-primary">
          <span>
              Get Rakeback for a<br>
              Lifetime when you<br>
              Refer a friend.
          </span>
      </div>-->
                    <div class="refer-a-friend-copy" style="margin-left:1.5em">
                        <img src="/assets/images/copy-link.png">
                    </div>

                    <div class="refer-a-friend-copy" style="margin-top:4em;margin-left:2.5em;color:#fff !important;">
                        or <br /> SHARE NOW
                    </div>


                    <div class="social-media">
                        <ul class="list-inline">
                            <p id="texttocopy" style="display:none;">{{ReferalCode}}</p>
                            <li class="list-inline-item">
                                <a href="" onclick="return shareFB('Congratulations N SRI NITHYA on winning Anmol Ratna Scholarship 2017-18','https://anmolratna.airtel.com/Downloads/ChildScholarship/DE1511719_CHILD_PHOTO_TWO_2017_08_04_12_50_13.jpeg','','Click here to know more...','')">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>


                            <li class="list-inline-item whatsapp" ng-show="ReferalCode!=''">
                                <a onclick="shareOnWhatsapp('#texttocopy')" href="" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item whatsapp" ng-show="ReferalCode!=''">
                                <a onclick="shareOnWhatsapp('#texttocopy')" href="" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item whatsapp" ng-show="ReferalCode!=''">
                                <a onclick="shareOnWhatsapp('#texttocopy')" href="" target="_blank">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                            <li class="list-inline-item whatsapp" ng-show="ReferalCode!=''">
                                <a onclick="shareOnWhatsapp('#texttocopy')" href="" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a onclick="openModal()" href="havascript::" style="color:#676a6b;">Explore More</a>
                            </li>
                        </ul>

                    </div>

                    <div class="page-content detail-section ng-star-inserted" style="padding: 0px; margin-top: 10px; display:none;">

                        <div style="position: relative; top: -30px; display:none;">
                            <p class="code-title" style="color:#fff;">Your Referral Code</p>
                            <div class="code-box">
                                <label id="myInput" ngxclipboard="" style="color:#fff;" class="ng-binding">WHISP410432203</label>
                            </div>
                            <p class="code-guidelines" style="color:#fff;">Click to copy code &amp; share it with friends.</p>

                            <div class="whatsapp" style="background:#1B2062; text-align:center;">
                                <a class="btn-social btn-whatsapp" onclick="shareOnWhatsapp('#texttocopy')" href="" target="_blank">
                                    <i class="ti-comments-smiley"></i> Share Now
                                </a>
                            </div>
                            <div class="sb-button sb-circles-dark"></div>
                        </div>
                        <p></p>
                    </div>
                </div>

                <div class="page-content detail-section" style="padding: 0px; margin-top: 10px; height:354px; overflow:auto; display:none;">

                    <div class="mat-tab-label-container">
                        <div class="mat-tab-list" role="tablist" style="transform: translateX(0px);width: 100%;">
                            <div class="mat-tab-labels">
                                <ul class="nav nav-tabs">
                                    <li class="active" style="width:100%;">
                                        <a onclick="openModal()" href="havascript::">Details</a>
                                    </li>
                                </ul>
                            </div>
                            <mat-ink-bar class="mat-ink-bar" style="visibility: visible; left: 0px; width: 236px;">

                            </mat-ink-bar>
                        </div>
                    </div>
                    <div aria-hidden="true" class="mat-tab-header-pagination mat-tab-header-pagination-after mat-elevation-z4 mat-ripple mat-tab-header-pagination-disabled" mat-ripple="">
                        <div class="mat-tab-header-pagination-chevron">
                        </div>
                    </div>

                    <div class="mat-tab-body-wrapper">
                        <div class="tab-content">
                            <div id="details" class="tab-pane fade in active show">
                                <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab" style="transform: none;">
                                    <div class="tab-content ng-star-inserted" style="padding: 5px 15px 10px; font-family: Lato !important;">
                                        <div classs="detail-wrapper">
                                            <p class="detail-title">What you do:</p><ol classs="detail-text">
                                                <li>Share your affiliate code with your players.</li>
                                                <li>The player registers on Whispering Shouts with your affiliate code and gets added to the affiliate program</li>
                                                <li>Everytime your player plays on any of our partner site to generate Rakeback for themself, you get 10% of their total earnings for lifetime which means as long as your player continues to play, you continue to make free money</li>
                                            </ol>
                                            <p class="detail-title">What you (affiliate) get:</p>
                                            <ul classs="detail-text">
                                                <li>Rs.100 for every new user that you bring to our site. This is subject to the user completing the KYC and generating a minimum of Rs500 of rake for themself</li>
                                                <li>10% of the net rake your player generates on our site; there is no limit on the duration for which you earn your commission, you will continue to earn as long as your player plays on our site. See T&amp;C.</li>
                                                <li>2x Multiplier, which means an additional 10% if you are a “Super” affiliate. You reach “Super” affiliate status when at least 5 of your players are active and have done their KYC</li>
                                                <li>Periodic complimentary tickets and exclusive deposit codes (at any of our partner platform)</li>
                                            </ul>
                                            <p class="detail-title">What your players get:</p>
                                            <ul classs="detail-text">
                                                <li>Rs.100 for every new user that you bring to our site</li>
                                                <li>Your player will be eligible for the Rakeback</li>
                                                <li>Periodic Custom deposit codes exclusively for your players (each can be used once):</li>
                                            </ul>
                                            <p>Note that these deposit codes can be used only after KYC3</p>
                                            <div class="terms-wrapper">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="affiliates" class="tab-pane fade">

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            


            <div class="col-md-4 show-desktop-only" ng-include="'views/_activity.html'">
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">
                    <span style="color: #e92026; font-weight: bold;">Details</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div classs="detail-wrapper">
                    <p class="detail-title">What you do:</p><ol classs="detail-text">
                        <li>Share your affiliate code with your players.</li>
                        <li>The player registers on Whispering Shouts with your affiliate code and gets added to the affiliate program</li>
                        <li>Everytime your player plays on any of our partner site to generate Rakeback for themself, you get 10% of their total earnings for lifetime which means as long as your player continues to play, you continue to make free money</li>
                    </ol>
                    <p class="detail-title">What you (affiliate) get:</p>
                    <ul classs="detail-text">
                        <li>Rs.100 for every new user that you bring to our site. This is subject to the user completing the KYC and generating a minimum of Rs500 of rake for themself</li>
                        <li>10% of the net rake your player generates on our site; there is no limit on the duration for which you earn your commission, you will continue to earn as long as your player plays on our site. See T&amp;C.</li>
                        <li>2x Multiplier, which means an additional 10% if you are a “Super” affiliate. You reach “Super” affiliate status when at least 5 of your players are active and have done their KYC</li>
                        <li>Periodic complimentary tickets and exclusive deposit codes (at any of our partner platform)</li>
                    </ul>
                    <p class="detail-title">What your players get:</p>
                    <ul classs="detail-text">
                        <li>Rs.100 for every new user that you bring to our site</li>
                        <li>Your player will be eligible for the Rakeback</li>
                        <li>Periodic Custom deposit codes exclusively for your players (each can be used once):</li>
                    </ul>
                    <p>Note that these deposit codes can be used only after KYC</p>
                    <div class="terms-wrapper">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<br />
<br />
<!--<style>
    .card--shadow {
        border-radius: 10px !important;
        border: 5px solid #3e3e3e !important;
        box-shadow: -15px -15px 5px #1a1a1a inset !important;
    }
</style>-->
<script>
    //alert(screen.width)
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).html()).select();
        document.execCommand("copy");
        $temp.remove();
        $("#btnclipboard").html("Copied");
    }

    function shareOnWhatsapp(element) {
        console.log(element)
        var referalCode = $(element).html();
        console.log(referalCode)
        decorateWhatsAppLink('Hi there ! I am sharing this secret because you are worth it. Being a part of the incredible rakebacks at whisperingshouts i have crushed a lot of poker sessions even on the days i have not won. Now you can do the same and get Rs.100 on signup by using my referal code ' + referalCode, referalCode)
    }

</script>



