<footer class="footer-section">
    <div class="overlay">


        <div class="footer-content">
            <div class="container">
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 col-md-12 d-flex justify-content-start RAKEBACK-content-center">
                            <div class="footer-bottom-left">
                                <p>Copyright © 2020.All Rights Reserved By <a style="color:#BB001B;">Raketech Private Limited</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 d-flex justify-content-end RAKEBACK-content-center">
                            <div class="footer-bottom-right">
                                <ul style="display:block;">
                                    <li>
                                        <a href="/contact-us">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="/terms-of-use">Term Of Use</a>
                                    </li>
                                    <li>
                                        <a href="/blog">How to Play</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style type="text/css">

    .footer-section .overlay {
        position: relative;
        width: 100%;
        padding-top: 0rem;
        overflow: hidden
    }

        .footer-section .overlay .waveWrapper {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 55px;
            top: 0;
            z-index: 0;
            margin-bottom: 485px
        }

            .footer-section .overlay .waveWrapper .waveWrapperInner {
                position: absolute;
                width: 100%;
                overflow: hidden;
                height: 100%;
                bottom: -1px
            }

                .footer-section .overlay .waveWrapper .waveWrapperInner.bgTop {
                    z-index: 15;
                    opacity: .5
                }

                .footer-section .overlay .waveWrapper .waveWrapperInner.bgMiddle {
                    z-index: 10;
                    opacity: .75
                }

                .footer-section .overlay .waveWrapper .waveWrapperInner.bgBottom {
                    z-index: 5
                }

                .footer-section .overlay .waveWrapper .waveWrapperInner .wave {
                    /* background: url(../img/wave.png);*/
                    position: absolute;
                    left: 0;
                    width: 200%;
                    height: 100%;
                    background-repeat: repeat-x;
                    background-position: 0 bottom;
                    -webkit-transform-origin: center bottom;
                    transform-origin: center bottom
                }

                    .footer-section .overlay .waveWrapper .waveWrapperInner .wave.waveTop {
                        background-size: 50% 100px;
                        animation: move-wave 3s;
                        -webkit-animation: move-wave 3s;
                        -webkit-animation-delay: 1s;
                        animation-delay: 1s
                    }

                    .footer-section .overlay .waveWrapper .waveWrapperInner .wave.waveMiddle {
                        background-size: 50% 120px;
                        -webkit-animation: move-wave 10s linear infinite;
                        animation: move-wave 10s linear infinite
                    }

                    .footer-section .overlay .waveWrapper .waveWrapperInner .wave.waveBottom {
                        background-size: 50% 100px;
                        -webkit-animation: move-wave 15s linear infinite;
                        animation: move-wave 15s linear infinite
                    }

        .footer-section .overlay .footer-content {
            /* background-image: linear-gradient(0deg,#7b19cb,#6f1ccf,#621fd3,#5123d7,#3b26db);*/
            /* padding-top: 10rem*/
        }

            .footer-section .overlay .footer-content .social-icon {
                margin-bottom: 2.688rem
            }

                .footer-section .overlay .footer-content .social-icon ul {
                    list-style-position: inside;
                    padding-left: 0
                }

                .footer-section .overlay .footer-content .social-icon .social-nav {
                    list-style: none;
                    display: inline-block;
                    margin: 0 .313rem
                }

                    .footer-section .overlay .footer-content .social-icon .social-nav a:hover {
                        text-decoration: none
                    }

                    .footer-section .overlay .footer-content .social-icon .social-nav a i {
                        font-size: .875rem;
                        color: #fff;
                        border: .063rem solid #ba91e7;
                        border-radius: 50%;
                        padding: .625rem;
                        transition: all .3s ease-in
                    }

                        .footer-section .overlay .footer-content .social-icon .social-nav a i:hover {
                            border-radius: 50%;
                            background-image: linear-gradient(90deg,#e45b2d,#f07921 33%,#fc9715);
                            background-image: -ms-linear-gradient(90deg,#e45b2d 0,#f07921 33%,#fc9715 100%);
                            box-shadow: 0 .313rem .313rem 0 rgba(228,91,45,.4)
                        }

            .footer-section .overlay .footer-content .footer-text {
                margin-bottom: 2.063rem
            }

                .footer-section .overlay .footer-content .footer-text .footer-title {
                    font-size: 1.5rem;
                    color: #1d193b;
                    font-weight: 600;
                    line-height: 1.167;
                    margin-bottom: .438rem;
                    color: #fafafe
                }

                .footer-section .overlay .footer-content .footer-text .footer-subtitle {
                    font-weight: 700;
                    font-size: 3.125rem;
                    text-transform: uppercase;
                    line-height: 1.4;
                    background: #880065;
                    background: linear-gradient(90deg,#880065,#d70021);
                    color: transparent;
                    -webkit-background-clip: text;
                    display: inline-block
                }

            .footer-section .overlay .footer-content .subscribe {
                font-size: 1rem;
                border: .063rem solid #a680e5;
                border-radius: 3.125rem;
                margin-bottom: 7.5rem
            }

                .footer-section .overlay .footer-content .subscribe .input-subscribe {
                    height: 1.75rem;
                    margin: 1.25rem 0;
                    font-weight: 300;
                    border: none;
                    outline: none;
                    color: #fafafe;
                    border-radius: 1.875rem;
                    padding-left: 1.875rem;
                    background: none;
                    width: 60%
                }

                    .footer-section .overlay .footer-content .subscribe .input-subscribe::-webkit-input-placeholder {
                        color: #c0bdbc
                    }

                    .footer-section .overlay .footer-content .subscribe .input-subscribe:-ms-input-placeholder {
                        color: #c0bdbc
                    }

                    .footer-section .overlay .footer-content .subscribe .input-subscribe::-ms-input-placeholder {
                        color: #c0bdbc
                    }

                    .footer-section .overlay .footer-content .subscribe .input-subscribe::placeholder {
                        color: #c0bdbc
                    }

                .footer-section .overlay .footer-content .subscribe .subscribe-btn {
                    outline: none;
                    text-decoration: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 1.875rem;
                    padding: .875rem 3.5rem;
                    background-image: linear-gradient(90deg,#0184ff 1%,#01abff);
                    background-image: -ms-linear-gradient(90deg,#0184ff 1%,#01abff 100%);
                    box-shadow: 0 .313rem .313rem 0 rgba(1,132,255,.4);
                    float: right;
                    margin: .5rem .625rem;
                    border: .125rem solid #f50;
                    transition: all .3s ease-in
                }

                    .footer-section .overlay .footer-content .subscribe .subscribe-btn:hover {
                        background-image: -webkit-linear-gradient(0deg,transparent,transparent);
                        background-color: #f50;
                        border: .125rem solid transparent
                    }

            .footer-section .overlay .footer-content .footer-bottom {
                font-size: .875rem;
                font-weight: 600;
                border-top: .063rem solid #BB001B;
                padding: 1.5rem 0 .75rem
            }

                .footer-section .overlay .footer-content .footer-bottom .footer-bottom-left {
                    color: #fff
                }

                    .footer-section .overlay .footer-content .footer-bottom .footer-bottom-left a {
                        text-decoration: none;
                        color: #f50
                    }

                .footer-section .overlay .footer-content .footer-bottom .footer-bottom-right ul {
                    display: inline-block;
                    padding-left: 0;
                    float: right
                }

                    .footer-section .overlay .footer-content .footer-bottom .footer-bottom-right ul li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 .938rem
                    }

                        .footer-section .overlay .footer-content .footer-bottom .footer-bottom-right ul li a {
                            text-transform: uppercase;
                            text-decoration: none;
                            color: #fff
                        }
</style>