 <!-- header top begin -->
<div ng-include="'views/rummy/_rummyHeader.html'">
</div>
<style type="text/css">
    @charset "UTF-8";

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }
</style>
<style id="stndz-style">
    div[class*="item-container-obpd"], a[data-redirect*="paid.outbrain.com"], a[onmousedown*="paid.outbrain.com"] {
        display: none !important;
    }

    a div[class*="item-container-ad"] {
        height: 0px !important;
        overflow: hidden !important;
        position: absolute !important;
    }

    div[data-item-syndicated="true"] {
        display: none !important;
    }

    .grv_is_sponsored {
        display: none !important;
    }

    .zergnet-widget-related {
        display: none !important;
    }
</style>
<style type="text/css">
    .page-dashboard .container {
        max-width: 1100px;
    }

    .headerMenu {
        margin-top: 55px;
    }

    .grab-deal {
        background: linear-gradient(to right, #26292d, #111214);
        /*box-shadow: 0 0.625rem 0.938rem 0 rgba(59, 55, 188, 0.5);*/
        color: #2ecdf3;
        border-radius: 1.563rem;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin: 0 0.6rem;
        /*border:none;*/
    }

    .carousel-indicators {
        bottom: -40px;
    }
</style>
<style>
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px grey;
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background: #BB001B !important;
        border-radius: 3px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #BB001B !important;
        }
</style>
<section id="layout-content" class="container pt-0">
    <div class="flash-message">
    </div>
    <ul class="site-selection">
        <li>
            <a href="/poker" class="site-link">Poker</a>
            <a href="/rummy" class="site-link active" style="color: #BB001B;">Rummy</a>
        </li>
    </ul>
    <br>
    <section id="headerMenu">
        <div class="home-main-banner">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active custom-carousel-item" style="background-image: url('/assets/images/rummy-banner.png')">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item custom-carousel-item" style="background-image: url('/assets/images/rummy-banner.png')">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item custom-carousel-item" style="background-image: url('/assets/images/rummy-banner.png')">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="margin: 6em; padding: 1em; color:#fff;">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>JUNGLEE<br />RUMMY<br /> REVIEW</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rummy-card" style="margin: 2em; padding: 1em; box-shadow: inset -15px -15px 19px 2px #000; background: #202327; border: 4px solid #25252500; border-radius: 4px;">
                    <div class="row">
                        <div class="col-md-6">
                            <span style="color: #ddd3d3; font-size: 2.5em; float: left;">8.9</span>
                            <span style="float: right;">
                                <img src="assets/images/star.png" />
                                <br />
                                <a style="color: #dda3a6; text-decoration: underline; font-size: 12px;">Review</a>
                            </span>

                            <div class="clr"></div>
                            <img src="assets/images/jr-logo.png" style="border-radius: 7px;" />
                        </div>
                        <div class="col-md-6">
                            <h5 style="color: #ddd3d3;">Junglee Rummy</h5>
                            <p style="font-size: 12px; color: #dda3a6;">Fastest growing in India Daily promotions and bonus Stunning table and user interface</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="color: #ddd3d3; margin-top: 1em;">Signup and get</p>
                            <h2 style="color: #ddd3d3;">1500* Bonus</h2>
                        </div>
                        <div class="col-md-6">
                            <input type="button" class="btn btn-primary btn--primary" style="background-color: #c50725; border-color: #c50725; box-shadow: 4px 2px 7px 2px #ffffff54; width: 150px;" value="Sign Up">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <style>
        .custom-carousel-item {
            height: 437px;
            max-height: 437px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <section>
        <!--<div class="home-main-banner">
            <img src="/assets/images/rummy-banner.png" alt="" class="banner-img img-fluid">

        </div>-->
        <br>
        <div class="container mt-4 pt-4">
            <div class="row">
                <br />


                <!--<div class="col-md-12 mt-4 ">
                    <h2 style="color: #ddd3d3; font-weight: bold;">LATEST RUMMY UPDATE</h2>
                    <br />
                </div>-->

                <div class="row">

                    <div class="col-sm-8 col-sm-pull-4 pt-4">

                        <p>
                            <strong>Junglee Rummy Review</strong>
                            <br />
                            Junglee Rummy is a relatively new rummy site which is seeking a lot of attention due to its innovative gaming features. It is emerging as one of the fastest growing online rummy site in India for introducing out-of-the-box ideas to play online rummy. Junglee Rummy offers a unique way to play 13 cards rummy with advanced gaming features and enhanced rummy tables. The latest improvisation in the gaming platform has made the site lighter and easy to navigate. Users can navigate to the game lobby and click on "PLAY WITH NEW TABLE" to activate the new table. The new table provides users with multiple themes and offers better performance.
                            <br />
                            <br />
                            <strong>Game Software & Graphics at Junglee Rummy</strong><br />
                            The site offers a dual gaming interface to play online rummy games. One can play in Classic 2D table that has pleasing game graphics with big and clear cards and advanced gaming buttons. The most amazing feature is that players can switch to an enhanced First Person Perspective where one can view other players' avatars facing each other. Junglee Rummy calls this table as '3D Table' as it gives an added dimension, unlike the 2D rummy table. Players also have the option to chat while playing rummy online.
                            <br /><br />
                            There is an option to change the theme of the game, which changes the background of the table. You can switch from 'Home' which is the default theme and 'Vegas' which takes you to a Las Vegas Casino theme.
                            <br /><br />
                            The new rummy tables have the following additional themes. 'Garage' theme is for the players who are interested to play rummy in a garage. The theme is a bit dark compared to the other themes. Another additional theme is the 'Club' theme which will take you to a club atmosphere where the background has many tables and chairs which resembles a club playing experience. 'Royal' theme is for the players who like to play like a king! The theme background features a palace. If you want to play the game in the convenience of your living room you can choose for 'Living' theme. If you are a cricket enthusiast and love to play rummy, 'Cricket' theme is the best option for you.
                            <br />
                            <br />
                            <strong>What's Different?</strong><br />
                            The rummy tables are probably the most unique and enhanced tables in the rummy industry. Players simply love the out-of-the-box concept introduced by Junglee Rummy, the experience to view opponents avatars facing opposite to each other. The online rummy site is an amalgamation of all the best gaming features that you can find in the gaming sector. The new table design has made the gameplay more smooth compared to its rivals in the industry.
                            <br />
                            <br />
                            <strong>What's not Good?</strong><br />
                            It is hard to find a gaming feature that is 'not good' on Junglee Rummy. However, as the rummy site keeps introducing new features frequently, players may find it difficult to cope with the new changes in the site. Even though the new table design adapted by the site will be the rummy lover's favourite, it may take time for people to get used to the new layout and navigation.
                            <strong>Sign Up Bonus:</strong><br />
                            It offers a lucrative sign-up bonus to its new players. New players get 100% bonus on their first deposit. When a player deposits money for the first time, he/she can get 100% Bonus up to Rs. 1500. A minimum cash of Rs. 25 has to be added for availing the bonus and the maximum bonus that one can get is Rs. 1500. So, if one deposits Rs. 1500 for the first time, he/she can get a maximum bonus of Rs. 1500. Click on the banner on to get Junglee Rummy 25 rupees free on your account.
                            <br />
                            <br />
                            <strong>Avatars:</strong><br />
                            Players can pick from a range of interesting avatars that reflect different personalities. This feature attracts most of the players to play online rummy. It is the most enhanced way to play online rummy with different opponents facing each other in an animated environment that bears the verisimilitude of playing cards in real life.
                            <br />
                            <br />
                            <strong>Junglee Rummy Promotions</strong><br />
                            It is quite popular for its innovative promotional contests and offers. The online rummy site comes up with new promotions every month where players get a chance to win lakhs of cash prizes. They have weekly promotional deposit bonuses and cashback offers to allow its players to boost their deposits. The rummy site hosts competitive contests during the weekend and special one-day marathons to reward the best players. It also offers referral bonuses to players to invite their friends to play at the rummy site. Known as 'Refer N Win' the rummy site rewards its players up to Rs. 1000 for each friend and a cash prize of Rs. 6000 to the player with the maximum number of referrals. Get Junglee Rummy 25 rupees free by clicking on the banner.
                            <br />
                            <br />
                            <strong>Latest Junglee Rummy Promotions</strong><br />
                            <strong>EPIC Bonus</strong><br />
                            Junglee Rummy is back with another 'epic' promotion! And, what is a better name for the promotion than 'EPIC Bonus'? Players can redeem 25% bonus up to Rs.10,000 using this promotion on their deposits. If you are planning to deposit in your Junglee Rummy account, you can utilise this bonus. Make sure that you use the bonus code 'EPIC' while adding a minimum of Rs.200 on you Junglee Rummy account. Deposit more and grab Rs.10,000! Make your deposits today. The deposit bonus will be live from 8th January to 9th January 2018.
                            <br />
                            <br />
                            <strong>Rummy Tournaments</strong><br />
                            The site hosts online rummy tournaments every week with a guaranteed prize pool of up to Rs.1 lakh. The entry fee for each tournament varies from free to Rs.25 to Rs.100 depending on how big the cash prize is. It was also the official sponsor of World Rummy Tournament 2015 which rewards the best rummy players from all around the world with cash prizes worth Rs.1 Crore. Junglee Rummy also hosts online freeroll tournaments with the guaranteed prize pool.
                            <br />
                            <br />
                            <strong>Customer Support</strong><br />
                            Junglee Rummy has a 'Help' section through which its players can inform the customer support team about the issues. Players can write in feedback, comments or ask questions and the team responds them accordingly. The rummy site has a comprehensive 'Frequently Asked Questions' section that aids players to find answers to the common problems.
                            <br />
                            <br />
                            <strong>Payment Options</strong><br />
                            Junglee Rummy offers multiple payment options to add cash to the players' accounts. One can add cash through net banking, cash card, debit card and credit card to their account. The process of adding cash is safe and the amount is instantly credited to the player' account.
                            <br />
                            <br />
                            <strong>Deposit & Withdrawal</strong><br />
                            The online rummy site allows its players to make a minimum deposit of Rs. 25 and a maximum of Rs. 5000. Players can withdraw anytime but the minimum amount has to be Rs. 100. Players can withdraw for free during their first withdrawal of the month. Any withdrawal after the free withdrawal is charged with a processing fee.
                            <br />
                            <br />
                            <strong>Our Verdict:</strong><br />
                            Based on the unique features and great promotions, we give Junglee Rummy a score of 8.5/10!

                        </p>
                    </div>
                    <div class="col-sm-4 col-sm-push-8 mt-2">

                        <div class="mt-3 mb-4" style="max-height: 200px;">
                            <img src="/assets/images/r-1.png" />
                        </div>

                        <div class="mt-3 mb-4" style="max-height: 200px;">
                            <img src="/assets/images/r-2.png" />
                        </div>

                        <div class="mt-3 mb-4" style="min-height: 300px;">
                            <img src="/assets/images/r-3.png" />
                        </div>
                        <div class="mt-3 mb-4" style="min-height: 300px;">
                            <img src="/assets/images/r-4.png" />
                        </div>



                        <div class="mt-3 mb-4" style="min-height: 300px; border-radius: 1em; padding: 10px; background: #cccccc;">
                            <h4 style="text-align: center; border-bottom: 2px solid #a1a1a1; padding-top: 10px; padding-bottom: 10px; color: #000;">Most recent</h4>
                        </div>
                        <div class="mt-4" style="min-height: 300px; border-radius: 1em; padding: 10px; background: #cccccc;">
                            <h4 style="text-align: center; border-bottom: 2px solid #a1a1a1; padding-top: 10px; padding-bottom: 10px; color: #000;">Most recent</h4>
                        </div>
                        <!--<div class="mt-3 mb-4" style="min-height: 300px;">
                            <img src="/assets/images/r-5.png" />
                        </div>-->
                    </div>
                </div>

            </div>

        </div>

        <!--rudal code end 01/01-->

    </section>
</section>

<br />
<br />
<br />
<div ng-include="'views/rummy/_rummyFooter.html'">
</div>